@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Serif+Display:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Syne:wght@400..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "DM Serif Display", serif;
  font-weight: 100;
}

.card {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
  line-height: 2.2rem;
  transition: .3s;
}

.card:hover{
    transform: scale(1.02);
}
.truncate-container {
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncate-text {
  margin: 0;
}

.truncate-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5em; 
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  pointer-events: none; 
}

.content-below {
  transition: margin-top 0.5s ease-in-out; 
}

.text-hover:hover{
  color: rgb(168, 168, 168);
  transition: .3s ease;
}

.text-shadow{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.login-hover:hover{
  background-color: transparent !important;
 }

button[data-testid="flowbite-dropdown-target"] {
  background-color: transparent;
  letter-spacing: 0.25em;
  outline: none; 
  box-shadow: none;
  transition-property: none !important;
  transition-duration: 0s !important;
}

button[data-testid="flowbite-dropdown-target"]:hover {
  background-color: transparent !important;
  color: rgb(168, 168, 168);
}

button[data-testid="flowbite-dropdown-target"]:focus {
  outline: none;
  box-shadow: none;
}

button[data-testid="flowbite-dropdown-target"] svg {
    display: none;
}